.app {
    text-align: center;
}

.app-logo {
    height: 20vmin;
    pointer-events: none;
}

.app-header {
    background-color: #282c34;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
